BasedOnStyle: LLVM
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

AlignConsecutiveDeclarations: true
AlignTrailingComments: true
BreakBeforeBraces: Allman

IndentWidth: 4
TabWidth: 4
UseTab: Always
AccessModifierOffset: -4

SortIncludes: false